.speechy_iframe_container {
  position: fixed;
  z-index: 999999999999;

  right: 12px;
  top: 12px;
  width: 440px;
  height: calc(3px + 64px);

  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.3s ease;
}
.speechy_iframe_container.speechy_hidden {
  top: -240px;
}
.speechy_iframe_container iframe {
  margin: 0px;
  padding: 0px;
  height: 100%;
  border: none;
  display: block;
  width: 100%;
  border: none;
  overflow-y: auto;
  overflow-x: hidden;

  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

  border-radius: 4px;
  overflow: hidden;
}

.speechy_iframe_container:hover iframe {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.speechy_iframe_container.speechy_mode_popup iframe {
  width: 420px;
  height: 420px;
}

.speechy_iframe_container.speechy_mode_popup {
  right: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.speechy_iframe_container.speechy_mode_notification_extra {
  height: calc(3px + 64px + 48px + 1px);
}
